/* RESPONSIVE */
@media screen and (max-width: 1400px) {
    .nav {
      flex-direction: column;
      text-align: center;
      right: 0px;
    }
    .homesection {
      text-align: center;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 300px;
    }
    #abtimage {
      margin-top: 23%;
    }
    #phome{
      flex-direction: column;
      text-align: center;
      right: 0px;
      justify-content: center;
      margin: 0 auto;
    }
    #contactsection{
      margin-top: 100px;
    }
  }

  /* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    #homesection {
        flex-direction: column;
        text-align: center;
        right: 0px;
        justify-content: center;
      }
      #phome {
        flex-direction: column;
        text-align: center;
        right: 0px;
        justify-content: center;
        margin: 0 auto;
      }
      .homesection {
        text-align: center;
        flex-direction: column;
        justify-content: center;
      }
      .aboutsection{
          flex-direction: column;
          justify-content: center;
      }
      #aboutsection,#abtimage{
          width: 80%;
          margin: 0 auto;
      }
      #abtimage {
          justify-content: center;
          height: auto;
          width: 250px;
      }
      #pcontact{
        width: 70%;
      }
}





/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 768px) {
   .nav{
    flex-direction: column;
    text-align: center;
    right: 0px;
   }
   #homesection{
    padding-top: 200px;
   }
   #h4home {
    font-size: 24px;
  }
  #h1home {
    font-size: 40px;
    padding-bottom: 10px;
  }
  #inventhome {
    font-size: 40px;
  }
  #phome{
      font-size: 18px;
      line-height: 30px;
  }
  #aboutsection{
    padding-top: 200px;
  }
  .aboutlist ul {
    text-align: center;
  }
  #pcontact{
    width: 70%;
  }
  .contactsection{
    padding-top: 50px;
    padding-bottom: 800px;
  }
}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  #phome{
    font-size: 16px;
    line-height: 20px;
}
.homesection{
  margin-bottom: 75vh;
}
.aboutsection{
  margin-bottom: 50vh;
}
.contactsection{
  margin-bottom: 50vh;
}
.aboutlist ul {
  margin: 30px 0px;
} 
.aboutlist ul li{
  content: "\25B9";
  margin: 0px;
} 
#onecontact{
  line-height: 55px;
}
#pcontact{
  width: 90%
}
}